* {
    box-sizing: border-box;
}
html,body {
    margin: 0; padding: 0;
}
#content {
    background: #222; color: #ddd;
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
    height: 300vh; width: 100%;
    padding-bottom: 60px;
}
#footer {
    background: #f00; color: #ddd;
    display: flex; flex-direction: column;
    height: 130vh;
    width: 100%;
    position: fixed;
    left: 0; bottom: calc(-123vh);
}
#handle {
    background: #0ff; color: #222;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    height: 7vh; width: 100%;
    box-shadow: inset #cf0 0 3px;
}
